.garageBox {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
  width: 100%;

  .driverBox {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 1px;

    .carRow {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 1px;

      .textInput {
        border: 1px solid black;
        border-radius: 2px;
        padding: 1px;
        font-size: 16px;
      }

      .colorInput {
        height: 32px;
      }
    }
  }

  .numberCars {
    font-size: 30px;
  }

  .numberPage {
    font-size: 25px;
  }

  .trackBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    width: 100%;

    .trackRow {
      gap: 1px;
      padding: 1px;
      display: flex;
      flex-direction: column;

      .selectRemoveNameRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .carName {
          font-size: 20px;
        }
      }

      .mainRow {
        display: flex;
        align-items: center;
        gap: 10px;

        .startStopRow {
          display: flex;
          align-items: center;
          gap: 5px;
        }

        .mainTrackRow {
          display: flex;
          position: relative;
          align-items: center;
          gap: 10px;
          width: calc(100% - 130px);

          .flagBox {
            position: absolute;
            right: 0px;
          }

          .carBox {
            position: relative;
          }
        }
      }

      .dottedRow {
        border-top: 5px solid black;
        border-style: dotted;
      }
    }
  }

  .prevNextRow {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
